@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
html, body {
    overflow-x: hidden;
}
body{
    font-family: "PT Serif", serif;
    background-color: rgba(250, 235, 215, 0.902);
    position: relative;
}
.nav-item{
    padding: 15px;
}
h4{
    padding-top: 25%;
}
img{
    padding-top: 5%;
    width: 50%;
    height: 25%;
}
.about{
    padding-top: 30px;
}
h1{
    font-size: 60px;
}
h3{
    padding-top: 30px;
}
.image{
    display: flex;
    justify-content: center;
    text-align: center;
}
.gototopbtn{
    position: fixed;
    width: 40px;
    height: 17px;
    background-color: rgb(245, 211, 161);
    bottom: 50px;
    right: 30px;
    display: flex;
    text-align: center;
    justify-content: center;

    text-decoration: none;
    line-height: 50px;
    color: black;
    font-size: 20px;
}
@media (min-width:320px){
    .img-profile{
        text-align: center !important;
        margin: 0;
    }
}
@media (min-width:801px){
    .img-profile{
        text-align: end !important;

    }
}
@media (min-width:320px){
    .home{
        padding-top: 10px !important;
    }
}
@media (min-width:801px){
    .home{
        padding-top: 25px !important;
    }
}
@media (min-width:320px){
    .intro-setion{
        font-size: 15px !important;
    }
}
@media (min-width:801px){
    .intro-setion{
        font-size: 30px !important;
    }
}
